@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Montserrat:ital,wght@1,100&family=Poppins:wght@200&family=Rubik&display=swap');
body{
    margin:0;
    padding: 0;
    overflow-x :hidden ;
    font-family: 'Cabin', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
background-color: #f4e2ea6c !important;

}
/* Styles for screens up to 768px wide (phone) */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}




.head {
background: linear-gradient(to right, #bb377d, #fbd3e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 350px;
align-items: center;
flex-direction: column;
display: flex;
width: 100%;
margin-top: 57px;

}

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
   
    position: fixed !important;
    width: 100%;
    padding: 10px 150px;
    top: 0;
    
    
     z-index: 2;
}


.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.563); /* Change to white on scroll */
    backdrop-filter: blur(5px);
    transition: .5s ease-in-out;
}
 .navbar .list  li{
    list-style: none;
  
}



.navbar .list  li a{
    text-decoration: none;
}
.navbar .logo{
    padding-left: 150px;
}
.navbar .list {
    padding-right: 150px; 
     
}
.navbar .logo h1{
    color:rgb(0, 0, 0);
    font-size: 25px;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:2rem;
}

.navbar ul a{
color: rgb(0, 0, 0);
font-size: 1.2 rem;
}

.navbar ul li a:hover{
    border-bottom:  1px solid #bb377d; 
    color: #bb377d;
}


  .navbar a.active {
    color: #bb377d;
    font-weight: bold;
  }

  .navbar .menu{
    display: none;
}


.name{
    font-size: 25px;
    color:rgb(255, 255, 255);
    margin-top: 50px;
    z-index: 1;
    animation: fadeInAnimation 1.5s ease-in-out 0.5s; 
}

.description{
    font-size: 20px;
    color:#fbd3e9;
    z-index: 1;
     
    animation: fadeInAnimation 1.5s ease-in-out 0.5s;
}
.desc{
    position: absolute;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.social {
    margin-top: 50px;
    justify-content: space-between;
    animation: fadeInAnimation 1.5s ease-in-out 0.5s; 
}

.social a img{
    
    margin:10px;
    transition: transform 0.3s;
}
.social a img:hover{
    transform: scale(1.2);
    text-decoration: none;
}

.img{
    align-items: right !important;
    margin-right:-60%;
    position: relative;
    margin-top: -15%;

  
}

.img img{
    width: 500px;
    height: 400px;
    z-index: 1;
    
}

.imgCircle{
    display: flex;
   
}

.imgCircle h1{
    color: black;
    margin-left: 15px;
    animation: fadeInAnimation 1.5s ease-in-out 0.5s; 
}

.imgCircle span{
    color:#bb377d;
}
.imgCircle .me {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid 10px white;
    margin-top: -140px;
    margin-left: 190px;
    object-fit: cover; 
    max-width: 100%;
    max-height: 100%;
}

.imgCircle .check{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   margin-top: 55px;
    margin-left: -65px;
}

.imgCircle .prof{
    text-decoration: none;
    color:#bb377d;
    background-color:#fbd3e9;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    
}


.boxF{
    padding-left: 15%;
    align-self: self-start;
    padding-top: 8%;
    
}
  
.box {
   
    position: relative;
    width: 200px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    
 
  }
  
  .tail {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0;
    border-color: #f1f1f1 transparent transparent;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .content {
    z-index: 1;
    margin: auto;
    color:#bb377d;
    font-weight: bold;
  }
  .bio{
    display: flex;
    align-items: center;
    margin: 10% 10%;
  
    justify-content: space-between;
    padding: 0 100px;
   
   
   
}

  
.bio .left.anime,.projects.anime{
    opacity: 1;
    transform: translateX(0); /* Move to original position */
    
  }
.bio .left,.projects{
    flex-basis: 35%;
    opacity: 0;
    transform: translateX(-100%); /* Start off screen on the left */
    transition: opacity 1.5s ease-in-out, transform 0.5s ease-in-out;
    
}
.bio .right.anime,.services.anime {
    opacity: 1;
    transform: translateX(0); /* Move to original position */
    
  }
.bio .right,.services{
    
    opacity: 0;
    transform: translateX(100%); /* Start off screen on the left */
    transition: opacity 1.5s ease-in-out, transform 0.5s ease-in-out;
    
}

.bio .left p{
    font-weight: 600;
}
.bio .left a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    text-align: center;
  
    padding: 5px 5px;
    background: linear-gradient(to right, #bb377d, #ea93c2);
    transition: .5s ease-in-out;
}
.bio .left a:hover{
   padding-right: 60px;
}

.bio .right img{
width: 550px;
height: 550px;

margin-top: -50px;
}
.bio  .left .whoI{
    margin-left: 65px;
    margin-bottom: -10px;
    

  }
  .bio .left h1{
    text-decoration: #bb377d wavy underline;

  }
  
.services h1{
    font-size: 45px;
    color: #bb377d;
    text-align: center;
}  
.services .cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 0 40px;
    margin-left: 100px;
}
.services .cards .card{
    border: 1px solid #000000;
    width:300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
 /* Add transition effect for smoother animation */
 position: relative;
 border: 2px solid #ccc; 
 

}

.cards .card::after {
    content: '';
    position: absolute;
    right: -25px; /* Width of the border */
    bottom: -25px; /* Width of the border */
    width: calc(100% + 4px); /* Width including the border */
    height: calc(100% + 4px); /* Height including the border */
    border: 4px solid #bb377d;; /* Additional border color */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s;
    z-index: -1;
  }
  
  .cards .card:hover::after {
    opacity: 1; /* Make the additional border visible on hover */
  }
.cards .card i{
color: #bb377d;
font-size: 50px;
}


.cards .card h3{
    color: black;
    font-weight: 100;
    font-size: 25px;
}

.cards .card p{
    color: rgb(0, 0, 0);
    text-align: center;
}

.projects{
    margin-top: 150px;
   
   
}
.projects h1{
    font-size: 45px;
    color: #bb377d;
    text-align: center;
    margin-bottom: 50px;
}

.projects .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 0 100px 100px; 
  }
  
  .projects  .card {
    max-width: 300px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden ;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
  
  .projects .card:hover {
    transform: scale(1.05);
  }
  
  .projects  .card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
  }
  
  .projects .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .projects .card-content h3 {
    margin: 0 0 10px;
  }
  
  .projects .card-content p {
    margin: 0;
    font-size: 14px;
    color: #777;
  }
  
  
  .projects .card-link {
    text-align: center;
    background-color: #fcdbeb;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .projects .card-link a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;

  }
  
  .projects .card-link a:hover {
    color:  #bb377d;
  }
  
  .h1c{font-size: 45px;
    color: #bb377d;
    text-align: center;}

  .contact .leftcontact img{
      width: 550px ;
      height: 550px ;
      flex: 1;
  }

  
  .contact {
   

    display: flex;
    align-items: center;
    margin: 0 10%;
    justify-content: space-between;
    padding: 0 100px;
  }



 .contact .form {
    flex: 1;
    padding: 20px;
   
  }

 

.contact  form {
    display: flex;
    flex-direction: column;
  }

  .contact input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .contact input:focus, textarea:focus {
    outline: none;
    border-color: #bb377d;;
    box-shadow: 0 0 5px #bb377d80;
   
   
  }
  .contact input[type="submit"] {
    background-color: #bb377d;
    color: white;
    border: none;
    cursor: pointer;
  }

 .contact input[type="submit"]:hover {
    background-color: #bb377d;
    opacity: 0.8;
  }
  
  .footer {
      background-color: #333;
      color: #fff;
      padding: 30px 0;
  }
  
  .footer-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }
  
  .footer-logo img {
      max-width: 100px;
  }
  
  .footer-links ul,
  .footer-social ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  .footer-links ul li,
  .footer-social ul li {
      display: inline;
      margin-right: 20px;
  }
  
  .footer-links ul li a,
  .footer-social ul li a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
  }
  
  .footer-bottom {
      background-color: #444;
      text-align: center;
      padding: 10px 0;
  }
  
  @media only screen and (max-width:900px) {
    .navbar .menu{
        display: block !important;
        font-size: 1.5rem;
        
    }
    
    .navbar .logo{
        padding-left: 0px;
    }
    .navbar .list {
        padding-right: 0px; 
    }
    .navbar .list  ul{
        position: absolute;
        flex-direction: column;
        right: -350px;
        top:35px;
        background-color: white;
        padding: 1rem 3rem;
        transition: .5 ease-in-out;
       
    }
    .navbar .list .show{
        right:0;
        
        }
     
   .navbar ul a{
    color:black;
   } 

    .head .name{
        font-size: 12px;
        
    }
    .head .description{font-size: 10px;}
    .img img{
        display: none;
    }
    .desc .social {
        margin-top: 10px;
    }
    .head .boxF{
        padding-top: 0;
        align-items: flex;
        padding-left: 0;
    }
    .imgCircle{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .imgCircle .me {
        
        width: 230px;
        height: 230px;
        border: solid 10px white;
        margin-left: 0 !important;
        object-fit: cover; 
        justify-content: center;
        align-items: center;
        margin-bottom: 0 !important;
    
    }
    .imgCircle .check{
        margin-top: -35px !important;
        margin-left: 100px !important;
  
    }
    
   .bio,.contact{
    margin-left: 0 !important;
    flex-direction: column;
   }
   .bio .left,.contact .form{
    width: 380px !important;
    margin-bottom: 40px;
    flex-direction: column;
     /* Center vertically */
    
    height: 70vh !important;
    
}
.bio .right img,.contact .leftcontact img{
width: 500px;
height: 500px;

margin-top: -50px;
}
.services .cards{
    display: grid;
    grid-template-columns: repeat(2,1fr) !important;
    gap: 20px;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 0 !important;
}
.services .cards .card{
    border: 1px solid #000000;
    width:12rem;
    height: 20rem;
    
    padding: 5px;
 /* Add transition effect for smoother animation */
 position: relative;
 border: 2px solid #ccc; 

}
.projects .card-container {
    margin-left: 0 !important;
    grid-template-columns: repeat(2, 1fr); /* Two cards per row */
  }

.projects  .card {
    max-width: 100%;
    /* Adjusted margin for smaller screens */
  }

}





